streamlit
langchain>=0.2.17,<0.3.0
langchain-core>=0.2.43,<0.3.0
langchain-community>=0.2.17,<0.3.0
langchain-chroma
langchain-groq
langchain-huggingface
sentence-transformers
pymupdf
pypdf
rank-bm25
python-dotenv
pandas
